//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin tipField(lines)
    i.tipField.fa.fa-question-circle(ng-if=lines bs-tooltip='joinTip(#{lines})' type='button')
    i.tipField.fa.fa-question-circle.blank(ng-if='!#{lines}')

mixin tipLabel(lines)
    i.tipLabel.fa.fa-question-circle(ng-if=lines bs-tooltip='joinTip(#{lines})' type='button')
    i.tipLabel.fa.fa-question-circle.blank(ng-if='!#{lines}')

mixin ico-exclamation(mdl, err, msg)
    i.fa.fa-exclamation-triangle.form-control-feedback(ng-show='inputForm["#{mdl}"].$error.#{err}' bs-tooltip data-title='#{msg}' type='button')

mixin btn-save(show, click)
    i.tipField.fa.fa-floppy-o(ng-show=show ng-click=click)

mixin btn-remove(click)
    i.tipField.fa.fa-remove(ng-click=click)

mixin btn-up(show, click)
    i.tipField.fa.fa-arrow-up(ng-show=show ng-click=click)

mixin btn-down(show, click)
    i.tipField.fa.fa-arrow-down(ng-show=show ng-click=click)

mixin table-pair-edit(keyModel, valModel, keyPlaceholder, valPlaceholder)
    .col-sm-6(style='float: right')
        input.form-control(type='text' ng-model=valModel placeholder=valPlaceholder)
    label.fieldSep /
    .input-tip
        input.form-control(type='text' ng-model=keyModel placeholder=keyPlaceholder)

mixin table-pair(header, tblMdl, keyFld, valFld, keyPlaceholder, valPlaceholder)
    .col-sm-6
        label.table-header #{header}:
        +tipLabel('field.tip')
        button.btn.btn-primary.fieldButton(ng-click='tableNewItem(field)') Add
    table.links-edit.col-sm-12(st-table=tblMdl ng-show='#{tblMdl}.length > 0')
        tbody
            tr.col-sm-12(ng-repeat='item in #{tblMdl}')
                td.col-sm-6
                    div(ng-show='!tableEditing(field, $index)')
                        a.labelFormField(ng-click='curPair = tableStartEdit(backupItem, field, $index); curKey = curPair.#{keyFld}; curValue = curPair.#{valFld}') {{$index + 1}}) {{item.#{keyFld}}} / {{item.#{valFld}}}
                        +btn-remove('tableRemove(backupItem, field, $index)')
                    div(ng-show='tableEditing(field, $index)')
                        label.labelField {{$index + 1}})
                        +btn-save('tablePairSaveVisible(curKey, curValue)', 'tablePairSave(tablePairValid, backupItem, field, curKey, curValue, $index)')
                        +table-pair-edit('curKey', 'curValue', keyPlaceholder, valPlaceholder)
    .settings-row(ng-show='tableNewItemActive(field)')
        .col-sm-6
            +btn-save('tablePairSaveVisible(newKey, newValue)', 'tablePairSave(tablePairValid, backupItem, field, newKey, newValue, -1)')
            +table-pair-edit('newKey', 'newValue', keyPlaceholder, valPlaceholder)

mixin details-row
    - var lblDetailClasses = ['col-sm-4', 'details-label']

    - var detailMdl = 'getModel(backupItem, detail)[detail.model]';
    - var detailCommon = {'ng-model': detailMdl, 'ng-required': 'detail.required'};

    - var customValidators = {'ng-attr-ipaddress': '{{detail.ipaddress}}'}

    div(ng-switch='detail.type')
        div(ng-switch-when='label')
            label {{detail.label}}
        div.checkbox(ng-switch-when='check')
            label
                input(type='checkbox')&attributes(detailCommon)
                |{{detail.label}}
                +tipLabel('detail.tip')
        div(ng-switch-when='text')
            label(class=lblDetailClasses ng-class='{required: detail.required}') {{detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    input.form-control(type='text' placeholder='{{detail.placeholder}}')&attributes(detailCommon)
        div(ng-switch-when='number' )
            label(class=lblDetailClasses ng-class='{required: detail.required}') {{detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    input.form-control(name='{{detail.model}}' type='number' placeholder='{{detail.placeholder}}' min='{{detail.min ? detail.min : 0}}' max='{{detail.max ? detail.max : Number.MAX_VALUE}}')&attributes(detailCommon)
                    +ico-exclamation('{{detail.model}}', 'min', 'Value is less than allowable minimum.')
                    +ico-exclamation('{{detail.model}}', 'max', 'Value is more than allowable maximum.')
                    +ico-exclamation('{{detail.model}}', 'number', 'Invalid value. Only numbers allowed.')
        div(ng-switch-when='dropdown')
            label(class=lblDetailClasses ng-class='{required: detail.required}') {{detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    button.form-control(bs-select data-placeholder='{{detail.placeholder}}' bs-options='item.value as item.label for item in {{detail.items}}')&attributes(detailCommon)
        div(ng-switch-when='dropdown-multiple')
            label(class=lblDetailClasses ng-class='{required: detail.required}') {{detail.label}}:
            .col-sm-8
                button.form-control(bs-select data-multiple='1' data-placeholder='{{detail.placeholder}}' bs-options='item.value as item.label for item in {{detail.items}}')&attributes(detailCommon)
            +tipField('detail.tip')
        div(ng-switch-when='table-simple')&attributes(detailCommon)
            div(ng-if='detail.label')
                label.table-header {{detail.label}}:
                +tipLabel('detail.tableTip')
            table.col-sm-12.links-edit-details(st-table='#{detailMdl}' ng-show='#{detailMdl}.length > 0')
                tbody
                    tr(ng-repeat='item in #{detailMdl} track by $index')
                        td
                            div(ng-show='!tableEditing(detail, $index)')
                                a.labelFormField(ng-click='curValue = tableStartEdit(backupItem, detail, $index)') {{$index + 1}}) {{item}}
                                +btn-remove('tableRemove(backupItem, detail, $index)')
                                +btn-down('detail.reordering && tableSimpleDownVisible(backupItem, detail, $index)', 'tableSimpleDown(backupItem, detail, $index)')
                                +btn-up('detail.reordering && $index > 0', 'tableSimpleUp(backupItem, detail, $index)')
                            div(ng-show='tableEditing(detail, $index)')
                                label.labelField {{$index + 1}})
                                +btn-save('tableSimpleSaveVisible(curValue)', 'tableSimpleSave(tableSimpleValid, backupItem, detail, curValue, $index)')
                                .input-tip.form-group.has-feedback
                                    input.form-control(name='{{detail.model}}.edit' type='text' ng-model='curValue' placeholder='{{detail.placeholder}}')&attributes(customValidators)
                                    +ico-exclamation('{{detail.model}}.edit', 'ipaddress', 'Invalid address, see help for format description.')
            button.btn.btn-primary.fieldButton(ng-disabled='!newValue' ng-click='tableSimpleSave(tableSimpleValid, backupItem, detail, newValue, -1)') Add
            +tipField('detail.tip')
            .input-tip.form-group.has-feedback
                input.form-control(name='{{detail.model}}' type='text' ng-model='newValue' ng-focus='tableNewItem(detail)' placeholder='{{detail.placeholder}}')&attributes(customValidators)
                +ico-exclamation('{{detail.model}}', 'ipaddress', 'Invalid address, see help for format description.')

mixin table-db-field-edit(dbName, dbType, javaName, javaType)
    div(style='width: 20%; float: right')
        button.form-control(ng-model=javaType bs-select data-placeholder='Java type' bs-options='item.value as item.label for item in {{javaTypes}}')
    label.fieldSep /
    div(style='width: 22%; float: right')
        input.form-control(type='text' ng-model=javaName placeholder='Java name')
    label.fieldSep /
    div(style='width: 20%; float: right')
        button.form-control(ng-model=dbType bs-select data-placeholder='JDBC type' bs-options='item.value as item.label for item in {{jdbcTypes}}')
    label.fieldSep /
    .input-tip
        input.form-control(type='text' ng-model=dbName placeholder='DB name')

mixin form-row
    +form-row-custom(['col-sm-2'], ['col-sm-4'])

mixin form-row-custom(lblClasses, fieldClasses)
    - var fieldMdl = 'getModel(backupItem, field)[field.model]';
    - var fieldCommon = {'ng-model': fieldMdl, 'ng-required': 'field.required || required(field)'};
    - var fieldRequiredClass = '{true: "required"}[field.required || required(field)]'
    - var fieldHide = '{{field.hide}}'

    div(ng-switch='field.type')
        div.col-sm-6(ng-switch-when='label')
            label {{field.label}}
        div.checkbox.col-sm-6(ng-switch-when='check' ng-hide=fieldHide)
            label
                input(type='checkbox')&attributes(fieldCommon)
                | {{field.label}}
                +tipLabel('field.tip')
        div(ng-switch-when='text' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    input.form-control(type='text' placeholder='{{field.placeholder}}')&attributes(fieldCommon)
        div(ng-switch-when='password' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    input.form-control(type='password' placeholder='{{field.placeholder}}')&attributes(fieldCommon)
        div(ng-switch-when='number' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    input.form-control(name='{{field.model}}' type='number' placeholder='{{field.placeholder}}' min='{{field.min ? field.min : 0}}' max='{{field.max ? field.max : Number.MAX_VALUE}}')&attributes(fieldCommon)
                    +ico-exclamation('{{field.model}}', 'min', 'Value is less than allowable minimum.')
                    +ico-exclamation('{{field.model}}', 'max', 'Value is more than allowable maximum.')
                    +ico-exclamation('{{field.model}}', 'number', 'Invalid value. Only numbers allowed.')
        div(ng-switch-when='dropdown' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')&attributes(fieldCommon)
        div(ng-switch-when='dropdown-multiple' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select ng-disabled='{{field.items}}.length == 0' data-multiple='1' data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')&attributes(fieldCommon)
            a.customize(ng-show='field.addLink' ng-href='{{field.addLink.ref}}') {{field.addLink.label}}
        div(ng-switch-when='dropdown-details' ng-hide=fieldHide)
            - var expanded = 'field.details[' + fieldMdl + '].expanded'

            label(class=lblClasses ng-class=fieldRequiredClass) {{field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')&attributes(fieldCommon)
            a.customize(ng-show='#{fieldMdl} && field.details[#{fieldMdl}].fields' ng-click='#{expanded} = !#{expanded}') {{#{expanded} ? "Hide settings" : "Show settings"}}
            .col-sm-6.panel-details(ng-show='#{expanded} && #{fieldMdl}')
                .details-row(ng-repeat='detail in field.details[#{fieldMdl}].fields')
                    +details-row
        div(ng-switch-when='table-simple' ng-hide=fieldHide)&attributes(fieldCommon)
            .col-sm-6
                label.table-header {{field.label}}:
                +tipLabel('field.tableTip')
                button.btn.btn-primary.fieldButton(ng-click='tableNewItem(field)') Add
            table.links-edit.col-sm-12(st-table='#{fieldMdl}' ng-show='#{fieldMdl}.length > 0')
                tbody
                    tr.col-sm-12(ng-repeat='item in #{fieldMdl} track by $index')
                        td.col-sm-6
                            div(ng-show='!tableEditing(field, $index)')
                                a.labelFormField(ng-click='curValue = tableStartEdit(backupItem, field, $index)') {{$index + 1}}) {{item | compact}}
                                +btn-remove('tableRemove(backupItem, field, $index)')
                                +btn-down('field.reordering && tableSimpleDownVisible(backupItem, field, $index)', 'tableSimpleDown(backupItem, field, $index)')
                                +btn-up('field.reordering && $index > 0', 'tableSimpleUp(backupItem, field, $index)')
                            div(ng-show='tableEditing(field, $index)')
                                label.labelField {{$index + 1}})
                                +btn-save('tableSimpleSaveVisible(curValue)', 'tableSimpleSave(tableSimpleValid, backupItem, field, curValue, $index)')
                                .input-tip
                                    input.form-control(type='text' ng-model='curValue' placeholder='{{field.placeholder}}')
            .settings-row(ng-show='tableNewItemActive(field)')
                .col-sm-6
                    +btn-save('tableSimpleSaveVisible(newValue)', 'tableSimpleSave(tableSimpleValid, backupItem, field, newValue, -1)')
                    .input-tip
                        input.form-control(type='text' ng-model='newValue' placeholder='{{field.placeholder}}')
        div(ng-switch-when='indexedTypes')
            +table-pair('Index key-value type pairs', fieldMdl, 'keyClass', 'valueClass', 'Key class full name', 'Value class full name')
        div(ng-switch-when='queryFields' ng-hide=fieldHide)
            +table-pair('{{field.label}}', fieldMdl, 'name', 'className', 'Field name', 'Field class full name')
        div(ng-switch-when='dbFields' ng-hide=fieldHide)
            .col-sm-6
                label.table-header {{field.label}}:
                +tipLabel('field.tip')
                button.btn.btn-primary.fieldButton(ng-click='tableNewItem(field)') Add
            table.links-edit.col-sm-12(st-table=fieldMdl ng-show='#{fieldMdl}.length > 0')
                tbody
                    tr.col-sm-12(ng-repeat='item in #{fieldMdl}')
                        td.col-sm-6
                            div(ng-show='!tableEditing(field, $index)')
                                a.labelFormField(ng-click='curValue = tableStartEdit(backupItem, field, $index)') {{$index + 1}}) {{item | compact}}(ng-click='curDbFldMeta = tableStartEdit(backupItem, field, $index); curDbName = curDbFldMeta.dbName; curDbType = curDbFldMeta.dbType; curJavaName = curDbFldMeta.javaName; curJavaType = curDbFldMeta.javaType') {{$index + 1}}) {{item.dbName}} / {{item.dbType}} / {{item.javaName}} / {{item.javaType}}
                                +btn-remove('tableRemove(backupItem, field, $index)')
                            div(ng-if='tableEditing(field, $index)')
                                label.labelField {{$index + 1}})
                                +btn-save('tableDbFieldSaveVisible(curDbName, curDbType, curJavaName, curJavaType)', 'tableDbFieldSave(field, curDbName, curDbType, curJavaName, curJavaType, $index)')
                                +table-db-field-edit('curDbName', 'curDbType', 'curJavaName', 'curJavaType')
            .settings-row(ng-show='tableNewItemActive(field)')
                .col-sm-6
                    +btn-save('tableDbFieldSaveVisible(newDbName, newDbType, newJavaName, newJavaType)', 'tableDbFieldSave(field, newDbName, newDbType, newJavaName, newJavaType, -1)')
                    +table-db-field-edit('newDbName', 'newDbType', 'newJavaName', 'newJavaType')
        div(ng-switch-when='queryGroups' ng-hide=fieldHide)
            .col-sm-6
                label.table-header {{field.label}}:
                +tipLabel('field.tip')
                button.btn.btn-primary.fieldButton(ng-click='tableNewItem(field)') Add
            table.links-edit.col-sm-12(st-table=fieldMdl ng-show='#{fieldMdl}.length > 0')
                tbody
                    tr.col-sm-12(ng-repeat='group in #{fieldMdl}')
                        td.col-sm-6
                            div
                                div(ng-show='!tableEditing(field, $index)')
                                    a.labelFormField(ng-click='curGroup = tableStartEdit(backupItem, field, $index); curName = curGroup.name; curFields = curGroup.fields') {{$index + 1}}) {{group.name}}
                                    +btn-remove('tableRemove(backupItem, field, $index)')
                                div(ng-show='tableEditing(field, $index)')
                                    label.labelField {{$index + 1}})
                                    +btn-save('tableGroupSaveVisible(curName)', 'tableGroupSave(field, curDbName, curDbType, curJavaName, curJavaType, $index)')
                                    .input-tip
                                        input.form-control(type='text' ng-model='curName' placeholder='Index name')
                                table.links-edit.col-sm-12(st-table='group.fields' ng-show='group.fields.length > 0')
                                    tr(ng-repeat='groupItem in group.fields')
                                        td
                                            a.labelFormField('') {{$index + 1}}) {{groupItem.name}} / {{groupItem.className}} / {{groupItem.direction}}
                                            +btn-remove('tableRemoveGroupItem(group, $index)')


