//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin block-callout(titleWorkflow, contentWorkflow, whatsNextWorkflow, whatsNextContent)
    .block-callout-parent.margin-bottom-dflt
        .block-callout-left
            i.fa.fa-check-square.block-callout-header-left
            label.block-callout-header-left #{titleWorkflow}
            p(ng-bind-html=contentWorkflow)
        .block-callout-right
            i.fa.fa-check-square.block-callout-header-right
            label.block-callout-header-right #{whatsNextWorkflow}
            p(ng-bind-html=whatsNextContent)


mixin tipField(lines)
    i.tipField.fa.fa-question-circle(ng-if=lines bs-tooltip='joinTip(#{lines})' type='button')
    i.tipField.fa.fa-question-circle.blank(ng-if='!#{lines}')

mixin tipLabel(lines)
    i.tipLabel.fa.fa-question-circle(ng-if=lines bs-tooltip='joinTip(#{lines})' type='button')
    i.tipLabel.fa.fa-question-circle.blank(ng-if='!#{lines}')

mixin ico-exclamation(mdl, err, msg)
    i.fa.fa-exclamation-triangle.form-control-feedback(ng-show='inputForm["#{mdl}"].$error.#{err}' bs-tooltip data-title='#{msg}' type='button')

mixin btn-save(show, click)
    i.tipField.fa.fa-floppy-o(ng-show=show ng-click=click bs-tooltip data-title='Save item' data-trigger='hover')

mixin btn-add(click, tip, focusId)
    i.tipField.fa.fa-plus(ng-click=click bs-tooltip=tip event-focus='click' event-focus-id=focusId)

mixin btn-remove(click, tip)
    i.tipField.fa.fa-remove(ng-click=click bs-tooltip=tip data-trigger='hover')

mixin btn-up(show, click)
    i.tipField.fa.fa-arrow-up(ng-show=show ng-click=click bs-tooltip data-title='Move item up')

mixin btn-down(show, click)
    i.tipField.fa.fa-arrow-down(ng-show=show ng-click=click bs-tooltip data-title='Move item down')

mixin table-pair-edit(keyModel, valModel, keyPlaceholder, valPlaceholder, keyJavaBuildInTypes, valueJavaBuildInTypes, focusId, index)
    -var focusIdNext = focusId + 'Next'

    .col-sm-6
        label.fieldSep /
        .input-tip
            if keyJavaBuildInTypes
                input.form-control(id=focusId enter-focus-next enter-focus-next-id=focusIdNext type='text' ng-model=keyModel placeholder=keyPlaceholder bs-typeahead retain-selection data-min-length='1' bs-options='javaClass for javaClass in javaBuildInClasses' on-escape='tableReset()')
            else
                input.form-control(id=focusId enter-focus-next enter-focus-next-id=focusIdNext type='text' ng-model=keyModel placeholder=keyPlaceholder on-escape='tableReset()')
    .col-sm-6
        -var arg = keyModel + ', ' + valModel
        -var btnVisible = 'tablePairSaveVisible(' + arg + ')'
        -var btnSave = 'tablePairSave(tablePairValid, backupItem, field, '+ arg +', ' + index + ')'
        -var btnVisibleAndSave = btnVisible + ' && ' + btnSave

        +btn-save(btnVisible, btnSave)
        .input-tip
            if valueJavaBuildInTypes
                input.form-control(id=focusIdNext type='text' ng-model=valModel placeholder=valPlaceholder bs-typeahead retain-selection data-min-length='1' bs-options='javaClass for javaClass in javaBuildInClasses' on-enter=btnVisibleAndSave on-escape='tableReset()')
            else
                input.form-control(id=focusIdNext type='text' ng-model=valModel placeholder=valPlaceholder on-enter=btnVisibleAndSave on-escape='tableReset()')

mixin table-pair(header, tblMdl, keyFld, valFld, keyPlaceholder, valPlaceholder, keyJavaBuildInTypes, valueJavaBuildInTypes)
    .col-sm-6
        label.table-header #{header}:
        +tipLabel('field.tip')
        +btn-add('tableNewItem(field)', 'field.addTip', '{{::field.focusNewItemId}}')
        .table-details(ng-show='(#{tblMdl} && #{tblMdl}.length > 0) || tableNewItemActive(field)')
            table.links-edit.col-sm-12(st-table=tblMdl)
                tbody
                    tr(ng-repeat='item in #{tblMdl}')
                        td.col-sm-12
                            div(ng-show='!tableEditing(field, $index)')
                                a.labelFormField(event-focus='click' event-focus-id='{{::field.focusCurItemId}}' ng-click='curPair = tableStartEdit(backupItem, field, $index); curKey = curPair.#{keyFld}; curValue = curPair.#{valFld}') {{$index + 1}}) {{item.#{keyFld}}} / {{item.#{valFld}}}
                                +btn-remove('tableRemove(backupItem, field, $index)', 'field.removeTip')
                            div(ng-if='tableEditing(field, $index)')
                                +table-pair-edit('curKey', 'curValue', keyPlaceholder, valPlaceholder, keyJavaBuildInTypes, valueJavaBuildInTypes, '{{::field.focusCurItemId}}', '$index')
                tfoot(ng-show='tableNewItemActive(field)')
                    tr
                        td.col-sm-12
                            +table-pair-edit('newKey', 'newValue', keyPlaceholder, valPlaceholder, keyJavaBuildInTypes, valueJavaBuildInTypes, '{{::field.focusNewItemId}}', '-1')

mixin details-row
    - var lblDetailClasses = ['col-sm-4', 'details-label']

    - var detailMdl = 'getModel(backupItem, detail)[detail.model]';
    - var detailCommon = {'ng-model': detailMdl, 'ng-required': 'detail.required'};

    - var customValidators = {'ng-attr-ipaddress': '{{detail.ipaddress}}'}

    div(ng-switch='detail.type')
        div(ng-switch-when='label')
            label {{::detail.label}}
        div.checkbox(ng-switch-when='check')
            label
                input(type='checkbox')&attributes(detailCommon)
                |{{::detail.label}}
                +tipLabel('detail.tip')
        div(ng-switch-when='text')
            label(class=lblDetailClasses ng-class='{required: detail.required}') {{::detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    input.form-control(type='text' placeholder='{{::detail.placeholder}}')&attributes(detailCommon)
        div(ng-switch-when='number' )
            label(class=lblDetailClasses ng-class='{required: detail.required}') {{::detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    input.form-control(name='{{detail.model}}' type='number' placeholder='{{::detail.placeholder}}' min='{{detail.min ? detail.min : 0}}' max='{{detail.max ? detail.max : Number.MAX_VALUE}}')&attributes(detailCommon)
                    +ico-exclamation('{{detail.model}}', 'min', 'Value is less than allowable minimum.')
                    +ico-exclamation('{{detail.model}}', 'max', 'Value is more than allowable maximum.')
                    +ico-exclamation('{{detail.model}}', 'number', 'Invalid value. Only numbers allowed.')
        div(ng-switch-when='dropdown')
            label(class=lblDetailClasses ng-class='{required: detail.required}') {{::detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    button.form-control(bs-select data-placeholder='{{::detail.placeholder}}' bs-options='item.value as item.label for item in {{detail.items}}')&attributes(detailCommon)
        div(ng-switch-when='dropdown-multiple')
            label(class=lblDetailClasses ng-class='{required: detail.required}') {{::detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    button.form-control(bs-select data-multiple='1' data-placeholder='{{::detail.placeholder}}' bs-options='item.value as item.label for item in {{detail.items}}')&attributes(detailCommon)
        div(ng-switch-when='table-simple')&attributes(detailCommon)
            div(ng-if='detail.label')
                label.table-header {{::detail.label}}:
                +tipLabel('detail.tableTip')
            table.col-sm-12.links-edit-details(st-table='#{detailMdl}')
                tbody
                    tr(ng-repeat='item in #{detailMdl} track by $index')
                        td
                            div(ng-show='!tableEditing(detail, $index)')
                                a.labelFormField(event-focus='click' event-focus-id='{{::detail.focusCurItemId}}' ng-click='curValue = tableStartEdit(backupItem, detail, $index)') {{$index + 1}}) {{item}}
                                +btn-remove('tableRemove(backupItem, detail, $index)', 'detail.removeTip')
                                +btn-down('detail.reordering && tableSimpleDownVisible(backupItem, detail, $index)', 'tableSimpleDown(backupItem, detail, $index)')
                                +btn-up('detail.reordering && $index > 0', 'tableSimpleUp(backupItem, detail, $index)')
                            div(ng-if='tableEditing(detail, $index)')
                                label.labelField {{$index + 1}})
                                +btn-save('tableSimpleSaveVisible(curValue)', 'tableSimpleSave(tableSimpleValid, backupItem, detail, curValue, $index)')
                                .input-tip.form-group.has-feedback
                                    input.form-control(id='{{::detail.focusCurItemId}}' name='{{detail.model}}.edit' type='text' ng-model='curValue' placeholder='{{::detail.placeholder}}' on-enter='tableSimpleSave(tableSimpleValid, backupItem, detail, curValue, $index)' on-escape='tableReset()')&attributes(customValidators)
                                    +ico-exclamation('{{detail.model}}.edit', 'ipaddress', 'Invalid address, see help for format description.')
            button.btn.btn-primary.fieldButton(ng-disabled='!newValue' ng-click='tableSimpleSave(tableSimpleValid, backupItem, detail, newValue, -1)') Add
            +tipField('detail.tip')
            .input-tip.form-group.has-feedback
                input.form-control(name='{{detail.model}}' type='text' ng-model='newValue' ng-focus='tableNewItem(detail)' placeholder='{{::detail.placeholder}}' on-enter='tableSimpleSave(tableSimpleValid, backupItem, detail, newValue, -1)' on-escape='tableReset()')&attributes(customValidators)
                +ico-exclamation('{{detail.model}}', 'ipaddress', 'Invalid address, see help for format description.')

mixin table-db-field-edit(databaseName, databaseType, javaName, javaType, focusId, index)
    -var focusIdNext = focusId + 'Next'

    .col-sm-3
        label.fieldSep /
        .input-tip
            input.form-control(id=focusId enter-focus-next enter-focus-next-id=focusIdNext type='text' ng-model=databaseName placeholder='DB name' on-escape='tableReset()')
    .col-sm-3
        label.fieldSep /
        .input-tip
            button.form-control(ng-model=databaseType bs-select data-placeholder='JDBC type' bs-options='item.value as item.label for item in {{jdbcTypes}}')
    .col-sm-3
        label.fieldSep /
        .input-tip
            input.form-control(id=focusIdNext type='text' ng-model=javaName placeholder='Java name' on-escape='tableReset()')
    .col-sm-3
        -var args = databaseName + ', ' + databaseType + ', ' + javaName + ', ' + javaType
        -var btnVisible = 'tableDbFieldSaveVisible(' + args + ')'
        -var btnSave = 'tableDbFieldSave(field, ' + args + ', ' + index +')'

        +btn-save(btnVisible, btnSave)
        .input-tip
            button.form-control(ng-model=javaType bs-select data-placeholder='Java type' bs-options='item.value as item.label for item in {{javaTypes}}')

mixin table-group-item-edit(fieldName, className, direction, index)
    -var focusIdNext = fieldName + 'Next'
    -var focusIdNext2 = fieldName + 'Next2'
    -var args = fieldName + ', ' + className
    -var btnVisible = 'tableGroupItemSaveVisible(' + args + ')'
    -var btnSave = 'tableGroupItemSave(' + args + ', ' + direction + ', groupIndex, ' + index +')'
    -var btnVisibleAndSave = btnVisible + ' && ' + btnSave

    .col-sm-4
        label.fieldSep /
        .input-tip
            input.form-control(id=fieldName enter-focus-next enter-focus-next-id=focusIdNext type='text' ng-model=fieldName placeholder='Field name' on-escape='tableReset()')
    .col-sm-5
        label.fieldSep /
        .input-tip
            input.form-control(id=focusIdNext enter-focus-next enter-focus-next-id=focusIdNext2 type='text' ng-model=className placeholder='Class name' bs-typeahead retain-selection data-min-length='1' bs-options='javaClass for javaClass in javaBuildInClasses' on-escape='tableReset()')
    .col-sm-3
        +btn-save(btnVisible, btnSave)
        .input-tip
            select.form-control(id=focusIdNext2 ng-model=direction ng-options='item.value as item.label for item in {{sortDirections}}' on-enter=btnVisibleAndSave on-escape='tableReset()')

mixin form-row
    +form-row-custom(['col-sm-2'], ['col-sm-4'], 'backupItem')

mixin form-row-custom(lblClasses, fieldClasses, dataSource)
    - var fieldMdl = 'getModel('+ dataSource + ', field)[field.model]';
    - var fieldCommon = {'ng-model': fieldMdl, 'ng-required': 'field.required || required(field)'};
    - var fieldRequiredClass = '{true: "required"}[field.required || required(field)]'
    - var fieldHide = '{{field.hide}}'

    div(ng-switch='field.type')
        div.col-sm-6(ng-switch-when='label')
            label {{::field.label}}
        div.checkbox.col-sm-6(ng-switch-when='check' ng-hide=fieldHide)
            label
                input(type='checkbox')&attributes(fieldCommon)
                | {{::field.label}}
                +tipLabel('field.tip')
        div(ng-switch-when='text' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{::field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    input.form-control(id='{{::field.id}}' type='text' placeholder='{{::field.placeholder}}')&attributes(fieldCommon)
        div(ng-switch-when='withJavaBuildInTypes' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{::field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    input.form-control(id='{{::field.id}}' type='text' placeholder='{{::field.placeholder}}' bs-typeahead retain-selection data-min-length='1' bs-options='javaClass for javaClass in javaBuildInClasses')&attributes(fieldCommon)
        div(ng-switch-when='password' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{::field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    input.form-control(type='password' placeholder='{{::field.placeholder}}')&attributes(fieldCommon)
        div(ng-switch-when='number' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{::field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    input.form-control(name='{{field.model}}' type='number' placeholder='{{::field.placeholder}}' min='{{field.min ? field.min : 0}}' max='{{field.max ? field.max : Number.MAX_VALUE}}')&attributes(fieldCommon)
                    +ico-exclamation('{{field.model}}', 'min', 'Value is less than allowable minimum.')
                    +ico-exclamation('{{field.model}}', 'max', 'Value is more than allowable maximum.')
                    +ico-exclamation('{{field.model}}', 'number', 'Invalid value. Only numbers allowed.')
        div(ng-switch-when='select' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{::field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    select.form-control(ng-options='item.value as item.label for item in {{field.items}}')&attributes(fieldCommon)
        div(ng-switch-when='dropdown' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{::field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select data-placeholder='{{::field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')&attributes(fieldCommon)
        div(ng-switch-when='dropdown-multiple' ng-hide=fieldHide)
            label(class=lblClasses ng-class=fieldRequiredClass) {{::field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select ng-disabled='{{field.items}}.length == 0' data-multiple='1' data-placeholder='{{::field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')&attributes(fieldCommon)
            a.customize(ng-show='field.addLink' ng-href='{{field.addLink.ref}}') {{field.addLink.label}}
        div(ng-switch-when='dropdown-details' ng-hide=fieldHide)
            - var expanded = 'field.details[' + fieldMdl + '].expanded'

            label(class=lblClasses ng-class=fieldRequiredClass) {{::field.label}}:
            div(class=fieldClasses)
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select data-placeholder='{{::field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')&attributes(fieldCommon)
            a.customize(ng-show='#{fieldMdl} && field.details[#{fieldMdl}].fields' ng-click='#{expanded} = !#{expanded}') {{#{expanded} ? "Hide settings" : "Show settings"}}
            .col-sm-6.panel-details(ng-show='#{expanded} && #{fieldMdl}')
                .details-row(ng-repeat='detail in field.details[#{fieldMdl}].fields')
                    +details-row
        div(ng-switch-when='table-simple' ng-hide=fieldHide)&attributes(fieldCommon)
            .col-sm-6
                label.table-header {{::field.label}}:
                +tipLabel('field.tableTip')
                +btn-add('tableNewItem(field)', 'field.addTip', '{{::field.focusNewItemId}}')
            .col-sm-12(ng-show='(#{fieldMdl} && #{fieldMdl}.length > 0) || tableNewItemActive(field)')
                .col-sm-6
                    .table-details
                        table.links-edit.col-sm-12(st-table='#{fieldMdl}')
                            tbody
                                tr(ng-repeat='item in #{fieldMdl} track by $index')
                                    td.col-sm-12
                                        div(ng-show='!tableEditing(field, $index)')
                                            a.labelFormField(event-focus='click' event-focus-id='{{::field.focusCurItemId}}' ng-click='curValue = tableStartEdit(backupItem, field, $index)') {{$index + 1}}) {{item | compact}}
                                            +btn-remove('tableRemove(backupItem, field, $index)', 'field.removeTip')
                                            +btn-down('field.reordering && tableSimpleDownVisible(backupItem, field, $index)', 'tableSimpleDown(backupItem, field, $index)')
                                            +btn-up('field.reordering && $index > 0', 'tableSimpleUp(backupItem, field, $index)')
                                        div(ng-if='tableEditing(field, $index)')
                                            label.labelField {{$index + 1}})
                                            +btn-save('tableSimpleSaveVisible(curValue)', 'tableSimpleSave(tableSimpleValid, backupItem, field, curValue, $index)')
                                            .input-tip
                                                input.form-control(id='{{::field.focusCurItemId}}' type='text' ng-model='curValue' placeholder='{{::field.placeholder}}' on-enter='tableSimpleSaveVisible(curValue) && tableSimpleSave(tableSimpleValid, backupItem, field, curValue, $index)' on-escape='tableReset()')
                            tfoot(ng-show='tableNewItemActive(field)')
                                tr
                                    td.col-sm-12
                                        +btn-save('tableSimpleSaveVisible(newValue)', 'tableSimpleSave(tableSimpleValid, backupItem, field, newValue, -1)')
                                        .input-tip
                                            input.form-control(id='{{::field.focusNewItemId}}' type='text' ng-model='newValue' placeholder='{{::field.placeholder}}' on-enter='tableSimpleSaveVisible(newValue) && tableSimpleSave(tableSimpleValid, backupItem, field, newValue, -1)' on-escape='tableReset()')
        div(ng-switch-when='indexedTypes')
            +table-pair('Index key-value type pairs', fieldMdl, 'keyClass', 'valueClass', 'Key class full name', 'Value class full name', true, false)
        div(ng-switch-when='queryFields' ng-hide=fieldHide)
            +table-pair('{{::field.label}}', fieldMdl, 'name', 'className', 'Field name', 'Field class full name', false, true)
        div(ng-switch-when='dbFields' ng-hide=fieldHide)
            .col-sm-6
                label.table-header {{::field.label}}:
                +tipLabel('field.tip')
                +btn-add('tableNewItem(field)', 'field.addTip', '{{::field.focusNewItemId}}')
            .col-sm-12(ng-show='(#{fieldMdl} && #{fieldMdl}.length > 0) || tableNewItemActive(field)')
                .col-sm-6
                    .table-details
                        table.links-edit.col-sm-12(st-table=fieldMdl)
                            tbody
                                tr(ng-repeat='item in #{fieldMdl}')
                                    td.col-sm-12
                                        div(ng-show='!tableEditing(field, $index)')
                                            a.labelFormField(event-focus='click' event-focus-id='{{::field.focusCurItemId}}' ng-click='curField = tableStartEdit(backupItem, field, $index); curDatabaseName = curField.databaseName; curDatabaseType = curField.databaseType; curJavaName = curField.javaName; curJavaType = curField.javaType') {{$index + 1}}) {{item.databaseName}} / {{item.databaseType}} / {{item.javaName}} / {{item.javaType}}
                                            +btn-remove('tableRemove(backupItem, field, $index)', 'field.removeTip')
                                        div(ng-if='tableEditing(field, $index)')
                                            +table-db-field-edit('curDatabaseName', 'curDatabaseType', 'curJavaName', 'curJavaType', '{{::field.focusCurItemId}}', '$index')
                            tfoot(ng-show='tableNewItemActive(field)')
                                tr
                                    td.col-sm-12
                                        +table-db-field-edit('newDatabaseName', 'newDatabaseType', 'newJavaName', 'newJavaType', '{{::field.focusNewItemId}}', '-1')
        div(ng-switch-when='queryGroups' ng-hide=fieldHide)
            .col-sm-6
                label.table-header {{::field.label}}:
                +tipLabel('field.tip')
                +btn-add('tableNewItem(field)', 'field.addTip', 'newGroupName')
            .col-sm-12(ng-show='(#{fieldMdl} && #{fieldMdl}.length > 0) || tableNewItemActive(field)')
                .col-sm-6
                    .table-details
                        table.links-edit.col-sm-12(st-table=fieldMdl ng-init='newDirection = false')
                            tbody
                                tr(ng-repeat='group in #{fieldMdl}')
                                    td.col-sm-12
                                        div
                                            .col-sm-12(ng-show='!tableEditing(field, $index)')
                                                a.labelFormField(event-focus='click' event-focus-id='curGroupName' ng-click='curGroup = tableStartEdit(backupItem, field, $index); curGroupName = curGroup.name; curFields = curGroup.fields') {{$index + 1}}) {{group.name}}
                                                +btn-remove('tableRemove(backupItem, field, $index)', 'field.removeTip')
                                                +btn-add('tableGroupNewItem($index)', 'field.addItemTip', 'newFieldName')
                                            div(ng-if='tableEditing(field, $index)')
                                                label.labelField {{$index + 1}})
                                                +btn-save('tableGroupSaveVisible(curGroupName)', 'tableGroupSave(curGroupName, $index)')
                                                .input-tip
                                                    input#curGroupName.form-control(type='text' ng-model='curGroupName' placeholder='Index name' on-enter='tableGroupSaveVisible(curGroupName) && tableGroupSave(curGroupName, $index)' on-escape='tableReset()')
                                            div
                                                table.links-edit.col-sm-12(st-table='group.fields' ng-init='groupIndex = $index')
                                                    tbody
                                                        tr(ng-repeat='groupItem in group.fields')
                                                            td
                                                                div(ng-show='!tableGroupItemEditing(groupIndex, $index)')
                                                                    a.labelFormField(event-focus='click' event-focus-id='curFieldName' ng-click='curGroupItem = tableGroupItemStartEdit(groupIndex, $index); curFieldName = curGroupItem.name; curClassName = curGroupItem.className; curDirection = curGroupItem.direction') {{$index + 1}}) {{groupItem.name}} / {{groupItem.className}} / {{groupItem.direction ? "DESC" : "ASC"}}
                                                                    +btn-remove('tableRemoveGroupItem(group, $index)', 'field.removeItemTip')
                                                                div(ng-if='tableGroupItemEditing(groupIndex, $index)')
                                                                    +table-group-item-edit('curFieldName', 'curClassName', 'curDirection', '$index')
                                                    tfoot(ng-if='tableGroupNewItemActive(groupIndex)')
                                                        tr.col-sm-12(style='padding-left: 18px')
                                                            td
                                                                +table-group-item-edit('newFieldName', 'newClassName', 'newDirection', '-1')
                            tfoot(ng-show='tableNewItemActive(field)')
                                tr
                                    td.col-sm-12
                                        +btn-save('tableGroupSaveVisible(newGroupName)', 'tableGroupSave(newGroupName, -1)')
                                        .input-tip
                                            input#newGroupName.form-control(type='text' ng-model='newGroupName' placeholder='Group name' on-enter='tableGroupSaveVisible(newGroupName) && tableGroupSave(newGroupName, -1)' on-escape='tableReset()')
