//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin tipField(lines)
    i.tipField.fa.fa-question-circle(ng-if=lines data-container='body' bs-tooltip='#{lines}.join("")' type='button')
    i.tipField.fa.fa-question-circle.blank(ng-if='!#{lines}')

mixin tipLabel(lines)
    i.tipLabel.fa.fa-question-circle(ng-if=lines data-container='body' bs-tooltip='#{lines}.join("")' type='button')
    i.tipLabel.fa.fa-question-circle.blank(ng-if='!#{lines}')

mixin details-row
    - var lblDetailClasses = ['col-sm-4', 'details-label']

    - var detailMdl = 'backupItem[field.group][backupItem[field.group][field.model]][detail.model]'

    div(ng-switch='detail.type')
        div.checkbox(ng-switch-when='check')
            label
                input(type='checkbox' ng-model=detailMdl)
                |{{detail.label}}
                +tipLabel('detail.tip')
        div(ng-switch-when='text')
            label(class=lblDetailClasses) {{detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    input.form-control(type='text' style='' ng-model=detailMdl placeholder='{{detail.placeholder}}')
        div(ng-switch-when='dropdown')
            label(class=lblDetailClasses) {{detail.label}}:
            .col-sm-8
                +tipField('detail.tip')
                .input-tip
                    button.form-control(bs-select ng-model=detailMdl data-placeholder='{{detail.placeholder}}' bs-options='item.value as item.label for item in {{detail.items}}')
        div(ng-switch-when='dropdown-multiple')
            label(class=lblDetailClasses) {{detail.label}}:
            .col-sm-8
                button.form-control(bs-select ng-model=detailMdl data-multiple='1' data-placeholder='{{detail.placeholder}}' bs-options='item.value as item.label for item in {{detail.items}}')
            +tipField('detail.tip')
        div(ng-switch-when='table-simple' style='margin-right: 5px; margin-top: -0.65em')
            table.col-sm-12.links-edit(st-table=detailMdl)
                tbody
                    tr(ng-repeat='item in #{detailMdl}')
                        td.col-sm-11
                            div(ng-show='detail.editIdx != {{$index}}')
                                a(ng-click='detail.editIdx = $index; curValue = #{detailMdl}[$index]') {{$index + 1}}. {{item}}
                                i.tipField.fa.fa-remove(ng-click='detail.editIdx = -1; #{detailMdl}.splice($index, 1)')
                            div(ng-show='detail.editIdx == {{$index}}')
                                label.labelField {{$index + 1}}.
                                i.tipField.fa.fa-floppy-o(ng-click='detail.editIdx = -1; #{detailMdl}[$index]=curValue')
                                .input-tip
                                    input.form-control(type='text' ng-model='curValue' placeholder='{{detail.placeholder}}')
                        td.col-sm-1(ng-if='detail.reordering')
                            i.fa.fa-arrow-up(ng-show='$index > 0' ng-click='swapSimpleItems(#{detailMdl}, $index, $index - 1); detail.editIdx = -1;')
                            i.fa.fa-arrow-down(ng-show='$index < #{detailMdl}.length - 1' ng-click='swapSimpleItems(#{detailMdl}, $index, $index + 1); detail.editIdx = -1;')
            button.btn.btn-primary.fieldButton(ng-disabled='!newValue || #{detailMdl}.indexOf(newValue) >= 0' ng-click='detail.editIdx = -1; addDetailSimpleItem(backupItem, field, detail.model, newValue)') Add
            .input-tip
                input.form-control(type='text' ng-model='newValue' placeholder='{{detail.placeholder}}')

mixin form-row
    - var lblClasses = ['col-sm-2']

    - var masterMdl = 'backupItem[field.group][field.model]'

    div(ng-switch='field.type')
        div.checkbox.col-sm-6(ng-switch-when='check')
            label
                input(type='checkbox' ng-if='!group.model' ng-model='backupItem[field.model]')
                input(type='checkbox' ng-if='group.model' ng-model='backupItem[group.model][field.model]')
                | {{field.label}}
                +tipLabel('field.tip')
        div(ng-switch-when='text')
            label(class=lblClasses ng-class='{required: field.required}') {{field.label}}:
            .col-sm-4
                +tipField('field.tip')
                .input-tip
                    input.form-control(type='text' ng-if='!group.model' ng-model='backupItem[field.model]' placeholder='{{field.placeholder}}' ng-required='field.required')
                    input.form-control(type='text' ng-if='group.model' ng-model='backupItem[group.model][field.model]' placeholder='{{field.placeholder}}' ng-required='field.required')
        div(ng-switch-when='dropdown')
            label(class=lblClasses ng-class='{required: field.required}') {{field.label}}:
            .col-sm-4
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select ng-if='!group.model' ng-model='backupItem[field.model]' ng-required='field.required' data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}' )
                    button.form-control(bs-select ng-if='group.model' ng-model='backupItem[group.model][field.model]' ng-required='field.required' data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')
        div(ng-switch-when='dropdown-multiple')
            label(class=lblClasses ng-class='{required: field.required}') {{field.label}}:
            .col-sm-4
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select ng-model='backupItem[field.model]' data-multiple='1' data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')
        div(ng-switch-when='dropdown-details')
            - var expanded = 'field.details[backupItem[field.group][field.model]].expanded'

            label(class=lblClasses ng-class='{required: field.required}') {{field.label}}:
            .col-sm-4
                +tipField('field.tip')
                .input-tip
                    button.form-control(bs-select ng-model=masterMdl ng-required='field.required' data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')
            a.customize(ng-show=masterMdl ng-init='' ng-click='#{expanded} = !#{expanded}') {{#{expanded} ? "Hide settings" : "Show settings"}}
            .col-sm-6.panel-details(ng-show='#{expanded} && #{masterMdl}')
                .details-row(ng-repeat='detail in field.details[#{masterMdl}].fields')
                    +details-row
        div(ng-switch-when='indexedTypes')
            - var tblMdl = 'backupItem.indexedTypes'
            div
                label Indexed types: {{#{tblMdl}.length}}
                +tipLabel('field.tip')
            table.links-edit.col-sm-12(st-table=tblMdl ng-show='#{tblMdl}.length > 0')
                tbody
                    tr.col-sm-12(ng-repeat='item in #{tblMdl}')
                        td.col-sm-6
                            div(ng-show='field.editIdx != {{$index}}')
                                a(ng-click='field.editIdx = $index; curValue = #{tblMdl}[$index]') {{$index + 1}}. {{item.keyClass}}, {{item.valueClass}}
                                i.tipField.fa.fa-remove(ng-click='field.editIdx = -1; #{tblMdl}.splice($index, 1)')
                            div(ng-show='field.editIdx == {{$index}}')
                                label.labelField {{$index + 1}}.
                                i.tipField.fa.fa-floppy-o(ng-click='field.editIdx = -1; #{tblMdl}[$index]=curValue')
                                .input-tip
                                    input.form-control.settings-row(type='text' ng-model='curKeyClass' placeholder='Key class full name')
                                    input.form-control.settings-row(type='text' ng-model='curValueClass' placeholder='Value class full name')
            .col-sm-6
                .settings-row
                    input.form-control(type='text' ng-model='newKeyClass' placeholder='Key class full name')
                .settings-row
                    input.form-control(type='text' ng-model='newValueClass' placeholder='Value class full name')
                button.btn.btn-primary.fieldButton(ng-click='field.editIdx = -1; addIndexedTypes(newKeyClass, newValueClass)') Add
        div(ng-switch-when='table-simple')
            - var tblMdl = 'backupItem[field.model]'
            div
                label {{field.tableLabel}}: {{#{tblMdl}.length}}
                +tipLabel('field.tip')
            table.links-edit.col-sm-12(st-table=tblMdl ng-show='#{tblMdl}.length > 0')
                tbody
                    tr.col-sm-12(ng-repeat='item in #{tblMdl}')
                        td.col-sm-6
                            div(ng-show='field.editIdx != {{$index}}')
                                a(ng-click='field.editIdx = $index; curValue = #{tblMdl}[$index]') {{$index + 1}}. {{item | compact}}
                                i.tipField.fa.fa-remove(ng-click='field.editIdx = -1; #{tblMdl}.splice($index, 1)')
                            div(ng-show='field.editIdx == {{$index}}')
                                label.labelField {{$index + 1}}.
                                i.tipField.fa.fa-floppy-o(ng-click='field.editIdx = -1; #{tblMdl}[$index]=curValue')
                                .input-tip
                                    input.form-control(type='text' ng-model='curValue' placeholder='{{field.placeholder}}')
                        td.col-sm-1(ng-if='field.reordering')
                            i.fa.fa-arrow-up(ng-show='$index > 0' ng-click='swapSimpleItems(#{tblMdl}, $index, $index - 1); field.editIdx = -1;')
                            i.fa.fa-arrow-down(ng-show='$index < #{tblMdl}.length - 1' ng-click='swapSimpleItems(#{tblMdl}, $index, $index + 1); field.editIdx = -1;')
            .col-sm-6
                button.btn.btn-primary.fieldButton(ng-disabled='!newValue || #{tblMdl}.indexOf(newValue) >= 0' ng-click='field.editIdx = -1; addSimpleItem(backupItem, field.model, newValue)') Add
                .input-tip
                    input.form-control(type='text' ng-model='newValue' placeholder='{{field.placeholder}}')

